FILE_BASE_DIR=./
USER_TABLE_NAME=user.db
POST_TABLE_NAME=post.db
TOPIC_TABLE_NAME=topic.db
PASSWORD_HASHING_ALGORITHM=SHA-256
MYSQL_ADDRESS=db.pw.com
MYSQL_DATABASE=pw
MYSQL_USER=user
MYSQL_PASSWORD=secret
MYSQL_ROOT_PASSWORD=secret
APACHE_DIR=/opt/apache/webapps
APP_NAME=pw