FILE_BASE_DIR=./
PASSWORD_HASHING_ALGORITHM=SHA-256
MYSQL_ADDRESS=db.pw.com
MYSQL_DATABASE=pw
MYSQL_USER=user
MYSQL_PASSWORD=secret
MYSQL_ROOT_PASSWORD=secret
APACHE_DIR=/opt/apache
APP_NAME=pwanabeldiego