<web-app xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <link type="text/css" rel="stylesheet" id="dark-mode-general-link"/>
  <link type="text/css" rel="stylesheet" id="dark-mode-custom-link"/>
  <style lang="en" type="text/css" id="dark-mode-custom-style"/>
  <display-name>JSPApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>url</param-name>
    <param-value>http://localhost</param-value>
  </context-param>
</web-app>